@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .min-h-main {
    min-height: calc(100vh - theme(spacing.48));
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  .h0 {
    @apply font-bold font-primary text-3xl md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-bold font-primary text-2xl md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-bold font-primary text-xl md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-bold font-primary text-lg md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-bold font-primary text-base md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }

  .layout {
    max-width: 1152px;
    @apply mx-auto w-10/12;
  }

  @media screen and (max-width: 768px) {
    .layout {
      @apply w-10/12;
    }
  }
  @media screen and (max-width: 640px) {
    .layout {
      @apply w-11/12;
    }
  }
  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }
}
