@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .min-h-main {
    min-height: calc(100vh - theme(spacing.20));
  }

  .layout {
    max-width: 1152px;
    @apply mx-auto w-10/12;
  }

  @media screen and (max-width: 768px) {
    .layout {
      @apply w-10/12;
    }
  }

  @media screen and (max-width: 640px) {
    .layout {
      @apply w-11/12;
    }
  }

  /** 
   * Post styles
   * For the mdx blogs 
   */
  .prose {
  }
  .anchor {
    @apply absolute invisible no-underline;
    margin-left: -1em;
    padding-right: 0.5em;
    cursor: pointer;
  }

  .anchor:hover {
    @apply visible;
  }
  .prose h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply dark:text-white text-slate-900;
  }

  .prose a {
    @apply transition-all;
  }

  .prose .anchor:after {
    @apply text-gray-300 dark:text-gray-700;
    content: '#';
  }

  .prose *:hover > .anchor {
    @apply visible;
  }

  .prose pre {
    @apply bg-gray-50 border border-gray-200 dark:bg-gray-900 dark:border-gray-700;
  }

  .prose code {
    @apply bg-gray-100 border border-gray-100 px-1 py-0.5 rounded-lg text-gray-800 dark:bg-gray-900 dark:border-gray-800 dark:text-gray-200;
  }

  .prose pre code {
    @apply p-0 text-gray-800 dark:text-gray-200;
    border: initial;
  }

  .prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
  }

  .prose > :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }

  /* Prism Styles */
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    @apply text-gray-700 dark:text-gray-300;
  }

  .token.punctuation {
    @apply text-gray-700 dark:text-gray-300;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    @apply text-green-500;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    @apply text-purple-500;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    @apply text-yellow-500;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    @apply text-blue-500;
  }

  .token.function,
  .token.class-name {
    @apply text-pink-500;
  }

  .token.regex,
  .token.important,
  .token.variable {
    @apply text-yellow-500;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    @apply font-mono p-4 text-gray-800 dark:text-gray-50;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .rehype-code-title {
    @apply bg-gray-200 border border-b-0 border-gray-200 font-bold font-mono px-5 py-3 rounded-t-lg text-gray-800 text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-200;
  }

  .rehype-code-title + pre {
    @apply mt-0 rounded-t-none;
  }

  .highlight-line {
    @apply -mx-4 bg-gray-100 block border-blue-500 border-l-4 px-4 dark:bg-gray-800;
  }
}
